<div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
        {{#foreach navigation}}
            <li><a href="{{url absolute="true"}}" class="hvr-fade">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>
